<h1>Create New Blog Post</h1>

<%= form_for @post do |f| %>
  <%= f.label "Title:" %><br >
  <%= f.text_field :title, :required => true %><br>

  <br><%= f.label "Write content below:" %><br>
  <%= f.text_area :content, :required => true, :cols => "50", :rows => "10" %> <br>

  <br><%= f.label "Category:" %><br>
  <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name) %> <br>
  
  <!-- Nest to create a new category -->

  <br><%= f.submit %>

<% end %>

 <div id="postResult">
  <h3 id="postTitle"></h3>
  <p id="postContent"></p>
  <p id="postCategory"></p>
 </div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('form').submit(function(event) {
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post("/users/:id/posts", values);

    posting.done(function(data){
      var post = data["post"];
      $("#postTitle").text(post["title"]);
      $("#postContent").text(post["content"]);
      $("#postCategory").text(post["category_id"]);
    });
  });
});
</script>