<!DOCTYPE html>
<html>
<head>
  <title>BlogRailsFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  
   <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
   <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
   <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
   <% if user_signed_in? %>
   <div class="nav nav-justified" id="navbar">
   <%= link_to "Home", user_path(current_user), {:class => "btn btn-danger"} %>
   <%= link_to "View Categories", categories_path, {:class => "btn btn-danger"} %>
   <%= link_to "Log Out", destroy_user_session_path, :class => "btn btn-danger", :method => :delete %> 
   <p id="header" class="navH1" onclick="myFunction()">Welcome, <%=current_user.name%>!</p>

   </div>
  <% end %>
   

<%= yield %>

</body>
</html>

<script>
function myFunction() {
  document.getElementById('header').style.color = "red";
}
</script>
